/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-lp-block-phosphor-icon {
    display: inline-block;
    i {
        display: flex;
        transition: all 0.3s ease;
    }
}